html {
  height: 100%;
}

body {
  height: 100%;
  background: black;
  overflow-x: hidden;
  overscroll-behavior: none;
}
.hero {
  height: 56vw;
  background: black;
  z-index: -1;
  position: relative;
  overflow: hidden;
}

.scene {
  background-position: bottom center;
  background-size: cover;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
  height: 57vw;
}
.scene img {
  width: 100%;
}
.scene--back {
  transform: translateY(var(--translateY));
  opacity: var(--fade);
  background-image: url("./images/background-1.png");
  background-color: #1f1f1f;
  background-position: center top;
}
.scene--middle {
  transform: translateY(var(--translateY)) scale(var(--scale-slow));
  background-image: url("./images/background-2.png");
  background-position: center 19%;
}
.scene--front {
  transform: translateY(var(--translateY)) scale(var(--scale-fast));
  background-image: url("./images/background-3.png");
}

.spacer-box {
  height: 2em;
  width: 100%;
  background: #000000;
  margin-top: -3px;
}
.section-one {
  height: 1000px;
  background: #fff;
  position: relative;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@font-face {
  font-family: "wild_worldbold";
  src: url("https://assets.codepen.io/756881/wild_world-webfont.woff2")
      format("woff2"),
    url("https://assets.codepen.io/756881/wild_world-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
/* @link https://utopia.fyi/type/calculator?c=320,20,1.2,1140,24,1.25,1,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
  --color-text: #282828;
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 200s;
  --duration-quick: 90s;
  --duration-icon: 60s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
  --icon-size: clamp(6.25rem, 4.4498rem + 9.0009vw, 12.5rem);
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}
:root {
  --f-0-min: 18;
  --f-0-max: 20;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
  --f-1-min: 20;
  --f-1-max: 24;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  font-weight: 300;
  overflow-x: hidden;
  font-size: var(--step-0);
}

section {
  min-height: 100vh;
}

p {
  line-height: 1.35;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.flow--lg > * + * {
  margin-top: 2em;
}

.flow > * + * {
  margin-top: 1em;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
}

#content {
  overflow: visible;
  width: 100%;
}

.heading {
  width: 98%;
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: clamp(12px, 8vw, 100px);
  text-align: center;
  line-height: 0.67;
  margin: 0 auto;
  font-family: "wild_worldbold";
}
h1 .eyebrow {
  font-family: "Open sans", sans-serif;
  font-size: clamp(12px, 3vw, 40px);
  font-weight: 400;
}

.heading p {
  font-family: "wild_worldbold";
  font-size: clamp(12px, 10.5vw, 197px);
  text-align: center;
  line-height: 0.67;
  margin: 0;
  text-align: center;
  color: #111;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  z-index: -10;
}

.intro,
h2,
h3 {
  font-size: var(--step-1);
  font-weight: 500;
}

.text-container {
  position: relative;
}

.text-container p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  color: transparent;
}
.text-container p.is-0 {
  z-index: 10;
  color: white;
}
.text-container p.is-1 {
  color: #ff5151;
  z-index: 9;
}
.text-container p.is-2 {
  color: #515fff;
  z-index: 9;
}
.text-container p.is-3 {
  color: #51ff9a;
  z-index: 9;
}
.text-container p.is-4 {
  color: #51fffd;
  z-index: 9;
}
.text-container p.is-5 {
  color: #ff9e51;
  z-index: 9;
}
.text-container p.is-6 {
  color: #fffc51;
  z-index: 9;
}

.image-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;
  width: 70vw;
  margin: 0 auto;
  padding-top: 40vh;
  z-index: -1;
}
.image-grid .image_cont {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.image-grid img {
  position: absolute;
  top: 0;
  width: 100%;

  object-fit: cover;
}
.image-grid .image_cont:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.image-grid .image_cont:nth-child(2) {
  grid-column: 3;
  grid-row: 2;
}
.image-grid .image_cont:nth-child(3) {
  grid-column: 2;
  grid-row: 3;
}

.parallax-images {
  margin-top: 10vh;
  padding: 10rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 20vh;
  align-items: center;
  justify-items: center;
}
.parallax-images .image_cont {
  position: relative;
  height: 80vh;
  overflow: hidden;
}
.parallax-images img {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  height: 140%;
  width: 100%;
  object-fit: cover;
}
.parallax-images .parallax-text {
  grid-column: 2;
  grid-row: 1;
}
.parallax-images .image_cont:nth-child(2) {
  grid-column: 1 / span 1;
  grid-row: 1;
  width: 100%;
}
.parallax-images .image_cont:nth-child(3) {
  grid-column: 2 / span 1;
  grid-row: 2;
}

.spacer {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stagger {
  font-size: 8vw;
}

.bars {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
}
.bars .bars-text {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.bars .bars-cont {
  flex: 1 1 500px;
  display: flex;
  width: 100%;
  height: 60vh;
  align-items: flex-end;
}
.bars .bar {
  border-radius: 10px;
  margin: 2vw;
  text-align: center;
  flex: 1 0 auto;
  font-size: var(--step-0);
  justify-self: flex-end;
  font-family: "wild_worldbold";
  font-size: clamp(16px, 3vw, 36px);
}

.content {
  border-left: solid 1px white;
  padding: 0.5rem 2rem;
}

.staggered {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4rem;
}
.staggered h3 {
  font-family: "wild_worldbold";
  font-size: clamp(16px, 6vw, 80px);
  letter-spacing: 0.03em;
}
.staggered_text {
  flex: 1 1 300px;
}
.staggered_demo {
  flex: 1 1 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-slab {
  position: relative;
  height: 500px;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}
.parallax-slab img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180%;
  object-fit: cover;
}

.v-center {
  display: flex;
  align-items: center;
}

.spacer {
  height: 10vh;
}

.marquee {
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: var(--gap);
  -webkit-mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}
.quote {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  font-family: "wild_worldbold";
  font-size: clamp(12px, 7.5vw, 148px);
}
.hilary .quote {
  color: #111;
}
.brian .quote {
  color: #fffc51;
}
.roundy img {
  width: clamp(12px, 11.5vw, 200px);
}
.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  -webkit-animation: scroll-x var(--duration) linear infinite;
  animation: scroll-x var(--duration) linear infinite;
}
.marquee__group.quick {
  -webkit-animation: scroll-x var(--duration-quick) linear infinite;
  animation: scroll-x var(--duration-quick) linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
}

@-webkit-keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

/* Element styles */
.marquee svg {
  display: grid;

  fill: transparent;

  aspect-ratio: 1 / 1;

  width: var(--icon-size);
  height: var(--icon-size);
}

/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
}

.rotate {
  animation: loading var(--duration-icon) linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-back {
  animation: loading-back var(--duration-icon) linear infinite;
}
@keyframes loading-back {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

section#textSection {
  width: 100%;
  height: 100vh;
}

#textSection .container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
p.white {
  font-size: 2em;
}
